{% extends "base.tpl.html" %}

{% block title %} Evaluación Controladores {% endblock %}

{% block styles %}
<style>

</style>
{% endblock %}

{% block content%}

{% block user %}
<h2>
  {% if admin == 1 %}
    Administrador
  {% else %}
    Coordinador
  {% endif %}
</h2>
{% endblock %}
<!--agregar aqui el html -->
<h1 style="display: none;" id="admin">{{ admin }}</h1>
<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3> Asistencia a la Capacitación</h3>
    </div>
    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Asistencia<small id="subtitle">Seleccionar</small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <form class="form-horizontal form-label-left" id="form-evaluacion">
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cmb_aula">Aula de Capacitación <span class="required">*</span></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <select id="cmb_aula" class="form-control" name="cmb_aula" onchange="filtrarTabla()">
                  <option value="Seleccione">Seleccione</option>
                  {% for aula in aulas %}
                    <option value="{{ aula.aula_capacitacion }}">{{ aula.aula_capacitacion }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          <form>
          <h3 class="blue" id="numero" style="display: none"> </h3>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12" style="display: none;" id="bloque-listado">
      <div class="x_panel">
        <div class="x_title">
          <h2>Listado<small id="subtitle">Marcar con un check</small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="botones" id="botones">
            <button id="btn-save" class="btn btn-primary" onclick="guardar()">Guardar</button>
            <button id="btn-edit" class="btn btn-warning" onclick="editar()">Editar</button>
          </div>
          <div class="loader" id="loading2" style="display: none; position: center;"></div>
          <table id="lista-table" class="table table-bordered">
            <thead>
              <tr class="headings">
                <th>Nombres</th>
                <th>Código</th>
                <th style="display: none;">Aula</th>
                <th>
                  <label for="asistencia">Asistencia</label>
                </th>
                <th>Observaciones</th>
                <th style="display:none;">Codigo Coordinador</th>
              </tr>
            <thead>
            <tbody>
              {% for reg in registros %}
                <tr>
                  <td>
                    {{ reg.nombres }}
                    <p style="display: none"> {{reg.es_coordinador}} </p>
                    <p style="display: none"> {{reg.es_apoyo}} </p>
                    <p style="display: none"> {{reg.es_asistente}} </p>
                  </td>
                  <td>{{ reg.codigo }}</td>
                  <td style="display: none;">{{ reg.aula_capacitacion }}</td>
                  <td class="a-center ">
                    <input type="checkbox" class="radio-asistencia" value="asistio" disabled>
                    <p class="horas-controlador" style="display: none;">{{ reg.hora_capacitacion }}</p>
                  </td>
                  <td>
                      <textarea type = "text" id="text-obs" class= "form-control text-obs"  disabled="true">{{ reg.obs_capacitacion }}</textarea>
                  </td>
                  <td style="display:none;">{{ reg.cod_coord }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="botones" id="botones2">
            <button id="btn-save2" class="btn btn-primary" onclick="guardar()">Guardar</button>
            <button id="btn-edit2" class="btn btn-warning" onclick="editar()">Editar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/asistencia.js') }}" type="text/javascript"></script>

<script>

function giveResponse(aula){
  //coordinadores = ['N-201','N-301','N-302','N-303','N-304','N-311'];
  //nombres = ['VERA PORTOCARRERO BELTRÁN, JESÚS LESLY','ZARATE CORDOVA, JENNIFER KATHERINE','LIMO ROJAS, DARIO EDILBERTO','DIAZ GAVIDIA, ENRIQUE','QUIROZ GONZALEZ, JORGE LUIS MARTIN','BOLAÑOS HIDALGO, AUREA JULIA','PERALTA ARELLANO, JUAN OSCAR','ADMINISTRADOR DE SISTEMA','RESERVA']
  //document.getElementById("box").style.display = "block";
  //document.getElementById("export-button").style.display = "";
  document.getElementById("lista-table").style.display = "";
  //document.getElementById("botones").style.display = "";
  //document.getElementById("lista-table_filter").style.display = "block";
  document.getElementById("cmb_aula").disabled = true;
  //$("#cmb_aula").attr("disabled","disabled");
}

function inicializarTabla(){
  horas = document.getElementsByClassName("horas-controlador");
  var radio = document.getElementsByClassName("radio-asistencia");
  for (j = 0; j < radio.length; j++) {
    //alert(valores[i].innerHTML);
    if(horas[j].innerHTML == "None"){
      radio[j].checked = false;
    }else {
      radio[j].checked = true;
    }
    //alert(radio[j].checked);
  }

  //Para el color diferente para Asistentes y Apoyo
  var table, tr, td, i,p1,p2,p3;
  table = document.getElementById("lista-table");
  tr = table.getElementsByTagName("tr");
  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      //alert(td.innerHTML.toUpperCase());
      p1 = td.getElementsByTagName("p")[0].innerHTML;
      p2 = td.getElementsByTagName("p")[1].innerHTML;
      p3 = td.getElementsByTagName("p")[2].innerHTML;
      //alert(p1 + " " + p2)
      if((p2 == 1)||(p1 == 1)||(p3 == 1)){
        tr[i].style.color = "blue";
        tr[i].style.fontWeight = "bold"; 
      }
    } 
  }

  blockSaveEdit();
}

function filtrarTabla(){
   // Declare variables 
  var input, filter, table, tr, td, i;
  var cont = 0;
  input = document.getElementById("cmb_aula").value;
  filter = input.toUpperCase();
  table = document.getElementById("lista-table");
  tr = table.getElementsByTagName("tr");
  buttons = document.getElementById("botones");
  buttons2 = document.getElementById("botones2");
  todas=false;

  if(input=="SELECCIONE"){
    todas=true;
  }
  // Loop through all table rows, and hide those who don't match the search query
  if(todas){
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2];
      if(td){
        tr[i].style.display = "none";
      }
    }
  }else{
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2];
      if (td) {
        if ((td.innerHTML.toUpperCase() == filter) || (filter == "SELECCIONE".toUpperCase())){
          tr[i].style.display = "";
          cont = cont + 1;
        } else {
          tr[i].style.display = "none";
        }
      }
    } 
    document.getElementById("bloque-listado").style.display = '';
    //buttons.style.display = "";
    //buttons2.style.display = "";
    document.getElementById("subtitle").innerHTML = 'Registro';
  }

  numero = document.getElementById("numero");
  numero.innerHTML = "Se han encontrado " + cont + " personas.";
  numero.style.display = "";
  
  giveResponse(input);
}

function guardar(){
  var table,tr,td,label,form,input;
  var j=0;
  var asistencia = [];
  var codigos = [];
  var observaciones = [];

  table = document.getElementById("lista-table");
  tr = table.getElementsByTagName("tr");
  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    if(tr[i].style.display == "none"){

    }else{
      //Para obtener el valor del radio-button
      td = tr[i].getElementsByTagName("td")[3];
      if(td){
        input = td.getElementsByTagName("input")[0];
        if(input){
          asistencia[j] = input.checked;
        }
      }
      //Para obtener las observaciones
      td = tr[i].getElementsByTagName("td")[4];
      if(td){
        textarea = td.getElementsByTagName("textarea")[0];
        if(textarea){
          observaciones[j] = textarea.value;
        }
      }
      //Para obtener el código
      td = tr[i].getElementsByTagName("td")[1];
      if(td){
        codigos[j] = td.innerHTML;
      }
      j=j+1;
    }    
  }
  
  for(j=1;j<codigos.length;j++){
    //alert(codigos[j] + " " + asistencia[j]);
    $('#loading2').show();
    bloquear();  
    $('#btn-save').attr('disabled','disabled');
    $('#btn-edit').attr('disabled','disabled');
    $('#btn-save2').attr('disabled','disabled');
    $('#btn-edit2').attr('disabled','disabled');
    //alert(codigos[j] + ' ' + asistencia[j]);
    $.post(
      "{{ url_for(request.script_root+'.procesarJSON') }}",
      {"codigo":codigos[j],"observaciones":observaciones[j],"asistencia":asistencia[j],"option":'0'},
       function(data,status){
        if(status === 'success'){
          myFunction();
        }
      }
    ).fail()   
  }
  //guardarObs();

  //alert("Espere un minuto hasta que se registre la asistencia.")
  //setTimeout(myFunction, 10000)
}

function ocultarMostrarAdmin(){
  a = document.getElementById("admin").innerHTML;
  b = document.getElementById("admin-menu");
  c = document.getElementById("admin-logout");
  //alert(a);
  if (a==1){
    b.style.display = '';
    c.style.display = '';
  }else {
    b.style.display = 'none'
    c.style.display = 'none'
  }
}

$(document).ready(function() {
  /*
  $("#lista-table").DataTable({
  
  });
  */
  ocultarMostrarAdmin();
  inicializarTabla();

});


</script>
{% endblock %}
