{% extends "base.tpl.html" %}

{% block title %} Evaluación Controladores {% endblock %}

{% block styles %}
<style>

</style>
{% endblock %}

{% block content%}
<!--agregar aqui el html -->
<div class="pure-u-1">
    <a class="pure-button" style="margin-top:5px;" id="reporte" href="/reporte/">Regresar</a>
</div>
<h1>Ver Controlador</h1>
<h3> Nombres: {{registro.nombres}} </h3>
<h3> Código PUCP: {{registro.codigo}} </h3>
<h3> Correo PUCP: {{registro.correo}} </h3>
<table id="lista-table" class="pure-table pure-table-bordered" style="width:100%">
  <thead>
    <tr><th id="table-arrow">Proceso</th><th id="table-arrow">Calificación</th><th id="table-arrow">Observaciones</th><th id="table-arrow">¿Asistió?</th></tr>
  <thead>
  <tbody>
    {% for proceso in procesos %}
	    <tr class="registro">
	    	<td> {{ proceso.nombre }} </td>
        <td> {{ proceso.calificacion }} </td>
        <td> {{ proceso.obs_proceso }} </td>
        <td style="text-align: center;"> 
          {% if not proceso.hora_proceso %}
            <i class="fa fa-times" id="falto" style="color:red;"></i>
          {% else %}
            {% if proceso.hora_proceso == "" %}
              <i class="fa fa-times" id="falto" style="color:red;"></i>
            {% else %}
              <i class="fa fa-check" id="asistio" style="color:green;"></i>
            {% endif %}
          {% endif %}        
          <p style="display: none;">{{ proceso.hora_proceso}}</p>
        </td>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
<script>


</script>
{% endblock %}
