{% extends "base.tpl.html" %}

{% block title %} Evaluación Controladores {% endblock %}

{% block styles %}
<style>
#lista-table_filter{
  margin-top:1em;
  margin-bottom:1em;
  display: none;
}
</style>
{% endblock %}

{% block content%}
<!--agregar aqui el html -->
<div class="botones-cabecera" style="display: flex;">
  <div class="pure-u-1">
    <a class="pure-button" style="margin-top:5px;" id="asistencia2" href="/asistencia/">Asistencia Capacitación</a>
    <a class="pure-button" style="margin-top:5px;" id="nuevo" href="/evaluacion/">Día de examen</a>
  </div>
</div>
<div class="pure-u-1">
  <a class="button-secondary pure-button" id="export-button" href="/exportarExcelEvaluacion/" onclick="malos()" style="display: none;">Exportar Evaluaciones</a>
</div>
<h2>Evaluación de controlador</h2>
<div class="pure-u-1 pure-u-md-1-3 pure-form">
  <form id="form-evaluacion" class="pure-form-stacked">
    <fieldset>
    	<label for="codigo">Código de Coordinador:</label>
      <input id="input-codigo" name="codigo" maxlength="8" autofocus/>

      <label for="password">Contraseña:</label>
      <input id="input-password" name="password" type="password"/>

      <button type="submit" class="pure-button pure-button-primary">Ingresar</button>
    </fieldset>
  </form>
</div>
<div class="highlight" id=box>
  <h3 id="respuesta" class="blue"></h3>
  <div id=coordinadores>
    {% for coordinador in coordinadores %}
      <div class=coordinador>
        <h3 id="coordinador" class="blue">Coordinador: {{ coordinador.nombres }}</h3>
        <h3 style="display: none">{{ coordinador.codigo }}</h3>
        <h3 style="display: none">{{ coordinador.password }}</h3>
      </div>
    {% endfor %}
  </div>
  <div id=asistentes>
    {% for asist in asistentes %}
      <div class=asistente>
        <h3 id="asistente" class="blue">Asistente OCAI: {{ asist.nombres }}</h3>
        <h3 style="display: none">{{ asist.codigo }}</h3>
        <h3 style="display: none">{{ asist.cod_coord }}</h3>
        <p class="horas" style="display: none;">{{ asist.hora_proceso }}</p>
      </div>
    {% endfor %}
  </div>
  <div id=apoyos>
    {% for apoyo in apoyos %}
      <div class=apoyo>
        <h3 id="apoyo" class="blue">Apoyo OCAI: {{ apoyo.nombres }}</h3>
        <h3 style="display: none">{{ apoyo.codigo }}</h3>
        <h3 style="display: none">{{ apoyo.cod_coord }}</h3>
        <p class="horas" style="display: none;">{{ apoyo.hora_proceso }}</p>
      </div>
    {% endfor %}
  </div>
</div>
<div class="highlight" id ="marcarTodos">
  <p> Marcar a todos como: </p>
  <form class="pure-form" id="form-todos">
    <label for="option-one" class="pure-radio">
      <input id="option-one" type="radio" name="optionsRadios" value="BUENO" checked>
      BUENO
    </label>
    <label for="option-two" class="pure-radio">
      <input id="option-two" type="radio" name="optionsRadios" value="REGULAR">
      REGULAR
    </label>
    <label for="option-three" class="pure-radio">
      <input id="option-three" type="radio" name="optionsRadios" value="MALO">
      MALO
    </label>
  </form> 
  <button class="pure-button pure-button-primary" onclick="marcarTodosComo()">Aceptar</button>
</div>
<h3 class="right blue" id="numero" style="display: none"> </h3>
<div class="botones" style="display: none;" id="botones">
  <button id="btn-save" class="pure-button nuevo-editar" onclick="guardar()">Guardar</button>
  <button id="btn-edit" class="pure-button nuevo-editar" onclick="editar()">Editar</button>
</div>
<div class="highlight" id="comentario" style="margin-top: 2em;">
  <p>Comentarios de la Coordinación:</p>
  <form class="pure-form">
    <textarea type = "text" id="comentario-general" class= "text-obs" style="width:95%;" disabled= class="pure-input-1-2">
      
    </textarea>
  </form>
</div>
<table id="lista-table" class="pure-table pure-table-bordered" style="display: none; width:100%">
  <div class="loader" id="loading2" style="display: none;"></div>
  <thead>
    <tr><th id="table-arrow">Nombres</th><th id="table-arrow">Código</th><th id="table-arrow">Aula</th><th id="table-arrow">Asistencia</th><th id="table-arrow">Calificación</th><th>Observaciones</th><th id = "cabecera_fecha" style="display: none;">Fecha del Proceso</th><th style="display:none;">Codigo Coordinador</th></tr>
  </thead>
  <tbody>
    {% for reg in registros %}
	    <tr class="registro">
	    	<td>
          {{ reg.nombres }}
          <p style="display: none"> {{reg.es_apoyo}} </p>
          <p style="display: none"> {{reg.es_asistente}} </p>
          <p style="display: none"> {{reg.es_coord}} </p>
        </td>
	    	<td>{{ reg.codigo }}</td>
	    	<td>{{ reg.aula }}</td>
        <td style="text-align: center;">
          <form class="pure-form" id="form-calificar">
            <input id="option-asistencia" class="radio-asistencia" type="checkbox" name="optionsRadios" value="asistio" disabled>
          </form>
          <p class="horas-controlador" style="display: none;">{{ reg.hora_proceso }}</p>
        </td>
	    	<td>
        	<form class="pure-form" id="form-calificar">
          	<select id="opt_calificacion" disabled="true" class="combo_calificacion">
           		<option value="0">Seleccione</option>
	            <option value="BUENO">BUENO</option>
	            <option value="REGULAR">REGULAR</option>
	            <option value="MALO">MALO</option>
	          </select>
	          <p class="valor" style="display:none;">{{reg.calificacion}}</p>
	        </form>
      	</td>
      	<td>
      		<form class="pure-form">
      			<textarea type = "text" id="text-obs" class= "text-obs" style="width:95%;" disabled="true" class="pure-input-1-2">{{ reg.obs_proceso }}</textarea>
      		</form>
      	</td>
      	<td class="fecha-proceso" style="display: none;">{{ reg.fecha_proceso }}</td>
        <td style="display:none;">{{ reg.cod_coord }}</td>
	    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="botones" style="display: none;" id="botones2">
  <button id="btn-save2" class="pure-button nuevo-editar" onclick="guardar()">Guardar</button>
  <button id="btn-edit2" class="pure-button nuevo-editar" onclick="editar()">Editar</button>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
<script>
//es recomendable usar un script externo
//jQuery esta incluido en base.tpl.html
function editar(){
  var cmb = document.getElementsByClassName("combo_calificacion");
  var txt = document.getElementsByClassName("text-obs");
  var comment_box = document.getElementById("comentario-general");
  comment_box.disabled = false;
  for(i=0;i<cmb.length;i++){
    cmb[i].disabled = false;
	}

  for(i=0;i<txt.length;i++){
    txt[i].disabled = false;
  }

  var radio = document.getElementsByClassName("radio-asistencia");
  for(i=0;i<radio.length;i++){
    radio[i].disabled = false;
  }
	blockSaveEdit();
}

function bloquear(){
	var cmb = document.getElementsByClassName("combo_calificacion");
  var txt = document.getElementsByClassName("text-obs");
  var comment_box = document.getElementById("comentario-general");
  comment_box.disabled = true;
  for(i=0;i<cmb.length;i++){
    cmb[i].disabled = true;
  }

  for(i=0;i<txt.length;i++){
    txt[i].disabled = true;
  }

  var radio = document.getElementsByClassName("radio-asistencia");
  for(i=0;i<radio.length;i++){
    radio[i].disabled = true;
  }
}

function blockSaveEdit(){
	var cmb = document.getElementsByClassName("combo_calificacion");
	if(cmb[2].disabled){
		document.getElementById("btn-save").disabled = true;
		document.getElementById("btn-edit").disabled = false;
    document.getElementById("btn-save2").disabled = true;
    document.getElementById("btn-edit2").disabled = false;
	}else{
		document.getElementById("btn-save").disabled = false;
		document.getElementById("btn-edit").disabled = true;
    document.getElementById("btn-save2").disabled = false;
    document.getElementById("btn-edit2").disabled = true;
	}
}

function guardarAsistenciaGeneral(){
  var table,tr,td,label,form,input;
  var j=0;
  var asistencia = [];
  var codigos = [];

  table = document.getElementById("lista-table");
  tr = table.getElementsByTagName("tr");
  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    if(tr[i].style.display == "none"){

    }else{
      //Para obtener el valor del radio-button
      td = tr[i].getElementsByTagName("td")[3];
      if(td){
        form = td.getElementsByTagName("form")[0];
        if(form){
          input = form.getElementsByTagName("input")[0];
          if(input){
            asistencia[j] = input.checked;
          }
        }
      }
      //Para obtener el código
      td = tr[i].getElementsByTagName("td")[1];
      if(td){
        codigos[j] = td.innerHTML;
      }
      j=j+1;
    }
  }

  for(j=1;j<codigos.length;j++){
    //alert(codigos[j] + " " + asistencia[j]);
    $.post(
      "{{ url_for(request.script_root+'.procesarJSONAsist') }}",
      {"codigo":codigos[j],"asistencia":asistencia[j]},
       function(data){
          
      }
    ).fail()   
  }

}

function marcarTodosComo(){
  var valor;
  var form;
  var r1,r2,r3

  if(document.getElementById('option-one').checked){
    valor = document.getElementById('option-one').value;
  } else if (document.getElementById('option-two').checked){
    valor = document.getElementById('option-two').value;
  } else if (document.getElementById('option-three').checked){
    valor = document.getElementById('option-three').value;
  }

  var table,tr,td,select,form;
  table = document.getElementById("lista-table");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    if(tr[i].style.display == "none"){
    } else {
      //Para obtener el valor del combo box
      td = tr[i].getElementsByTagName("td")[4];
      if(td){
        form = td.getElementsByTagName("form")[0];
        if(form){
          select = form.getElementsByTagName("select")[0];
          if(select){
            select.value = valor;
          }
        }
      }
    }
  }  
}

function faltaObservaciones(){
  var calificacion;
  var obs;
  var table,tr,td,select,form,textarea;
  var res = false;
  table = document.getElementById("lista-table");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    if(tr[i].style.display == "none"){
    } else {
      //Para obtener el valor del combo box
      td = tr[i].getElementsByTagName("td")[4];
      if(td){
        form = td.getElementsByTagName("form")[0];
        if(form){
          select = form.getElementsByTagName("select")[0];
          if(select){
            calificacion = select.value;
          }
        }
      }
      td = tr[i].getElementsByTagName("td")[5];
      if(td){
        form = td.getElementsByTagName("form")[0];{
          if(form){
            textarea = form.getElementsByTagName("textarea")[0];
            if(textarea){
              obs = textarea.value;
            }
          }
        }
      }
      //Ahora comprobar
      //alert(calificacion + " " + obs);
      if(((calificacion == "REGULAR") || (calificacion == "MALO")) && (obs == "")){
        return true;
      }
    }
  }  
  return false;
}

function guardar(){
	var table,tr,td,select,form;
	var j=0;
	var calificacion = [];
	var observaciones = [];
	var codigos = [];
  var codCoord = document.getElementById("input-codigo").value;
  //alert(codCoord);
	//bloquear();
  var comentarioGeneral = document.getElementById("comentario-general").value;
  //alert(codCoord + " " +comentarioGeneral);
	table = document.getElementById("lista-table");
  tr = table.getElementsByTagName("tr");
  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
  	if(tr[i].style.display == "none"){
  	} else {
  		//Para obtener el valor del combo box
  		td = tr[i].getElementsByTagName("td")[4];
    	if(td){
    		form = td.getElementsByTagName("form")[0];
    		if(form){
    			select = form.getElementsByTagName("select")[0];
    			if(select){
    				calificacion[j] = select.value;
    			}
    		}
    	}
    	//Para obtener el valor del text area
    	td = tr[i].getElementsByTagName("td")[5];
    	if(td){
    		form = td.getElementsByTagName("form")[0];
    		if(form){
    			textarea = form.getElementsByTagName("textarea")[0];
    			if(textarea){
    				observaciones[j] = textarea.value;
    			}
    		}
    	}
    	//Para obtener el código
    	td = tr[i].getElementsByTagName("td")[1];
    	if(td){
    		codigos[j] = td.innerHTML;
    	}
    	j=j+1;
  	}
  }

  noGuardar = faltaObservaciones();
  
  codigos[0] = codCoord;
  observaciones[0] = comentarioGeneral;
  calificacion[0] = "BUENO"
  if(noGuardar){
    alert("Por favor, complete el campo de observaciones si calificó como REGULAR o MALO");
  } else {
    for(j=0;j<codigos.length;j++){
      //alert(codigos[j] + " " + calificacion[j] + " " + observaciones[j]);
      //Aquí probablemente va la función para guardar
      $.post(
          "{{ url_for(request.script_root+'.procesarJSON') }}",
          {"codigo":codigos[j],"calificacion":calificacion[j],"observaciones":observaciones[j]},
          function(data){
          
        }
      ).fail()
    }

    guardarAsistenciaGeneral();
    bloquear();
    alert("Espere por lo menos 5 segundos hasta que los datos sean guardados.")
    $('#loading2').show();
    $('#btn-save').attr('disabled','disabled');
    $('#btn-edit').attr('disabled','disabled');
    $('#btn-save2').attr('disabled','disabled');
    $('#btn-edit2').attr('disabled','disabled');
    setTimeout(myFunction, 30000)
  }
}

function myFunction(){
  $('#loading2').hide();
  $('#btn-save').attr('disabled',false);
  $('#btn-edit').attr('disabled','disabled');
  $('#btn-save2').attr('disabled',false);
  $('#btn-edit2').attr('disabled','disabled');
  blockSaveEdit();
}

function malos(){
  var table,tr,td,select,form;
  var contador = 0;
  table = document.getElementById("lista-table");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    if(tr[i].style.display == "none"){
    } else {
      //Para obtener el valor del combo box
      td = tr[i].getElementsByTagName("td")[4];
      if(td){
        form = td.getElementsByTagName("form")[0];
        if(form){
          select = form.getElementsByTagName("select")[0];
          if(select){
            if(select.value=="MALO"){
              contador = contador + 1;
            }
          }
        }
      }
    }
  }
  alert("Se ha detectado " + contador + " colaboradores en la categoría MALO.")  
}

function modificar_box(codigo){
  var div, coordinadores, apoyos,nombre,cod,as,ap,boton;
  div = document.getElementById("coordinadores");
  coordinadores = div.getElementsByClassName("coordinador");
  if(coordinadores){
    for (i=0;i<coordinadores.length;i++){
      cod =  coordinadores[i].getElementsByTagName("h3")[1].innerHTML;
      if(cod == codigo){
        coordinadores[i].getElementsByTagName("h3")[0].style.display = "";
      }else{
        coordinadores[i].getElementsByTagName("h3")[0].style.display = "none";
      }
    }
  }

}

function es_codigo(codigo){
  var cont;
  cont = false;
  var div, coordinadores, apoyos,nombre,cod,as,ap,boton;
  div = document.getElementById("coordinadores");
  coordinadores = div.getElementsByClassName("coordinador");
  if(coordinadores){
    for (i=0;i<coordinadores.length;i++){
      cod =  coordinadores[i].getElementsByTagName("h3")[1].innerHTML;
      if(cod == codigo){
        return true;
      }
    }
  }
  return cont;
}

function es_password(codigo,password){
  var cont;
  cont = false;
  var div, coordinadores, apoyos,nombre,cod,as,ap,boton,pass;
  div = document.getElementById("coordinadores");
  coordinadores = div.getElementsByClassName("coordinador");
  if(coordinadores){
    for (i=0;i<coordinadores.length;i++){
      cod = coordinadores[i].getElementsByTagName("h3")[1].innerHTML;
      pass = coordinadores[i].getElementsByTagName("h3")[2].innerHTML;
      //alert(password,pass);
      if(codigo == cod){
        if(password == pass){
          return true;
        }
      }
    }
  }
  return cont;
}

function giveResponse(codigo,password){
  es_codigo(codigo);
  document.getElementById("respuesta").innerHTML = ""

	if (codigo == "01123581"){
    modificar_box("01123581");
    //document.getElementById("cabecera_fecha").style.display = ""
    document.getElementById("box").style.display = "block";
    document.getElementById("comentario").style.display = "block";
    document.getElementById("marcarTodos").style.display = "block";
    document.getElementById("lista-table").style.display = "";
    document.getElementById("botones").style.display = "";
    document.getElementById("botones2").style.display = "";
    document.getElementById("lista-table_filter").style.display = "block";
    document.getElementById("numero").style.display = "";
    document.getElementById("export-button").style.display = "";
    $("#input-codigo").attr("disabled","disabled");
    $("#input-password").attr("disabled","disabled");
    document.getElementById("respuesta").innerHTML = "Coordinador: ADMINISTRADOR DEL SISTEMA"
  }else if(es_codigo(codigo)){
    if(es_password(codigo,password)){
      modificar_box(codigo);
      document.getElementById("box").style.display = "block";
      document.getElementById("comentario").style.display = "block";
      document.getElementById("marcarTodos").style.display = "block";
      document.getElementById("lista-table").style.display = "";
      document.getElementById("botones").style.display = "";
      document.getElementById("botones2").style.display = "";
      document.getElementById("lista-table_filter").style.display = "block";
      document.getElementById("numero").style.display = "";
      document.getElementById("export-button").style.display = "";
      $("#input-codigo").attr("disabled","disabled");
      $("#input-password").attr("disabled","disabled");
    } else {
      alert("La contraseña no es la correcta");
      document.getElementById("numero").style.display = "none";
    }

	}else {
    modificar_box("01123581");
    document.getElementById("box").style.display = "block";
    document.getElementById("comentario").style.display = "none";
    document.getElementById("numero").style.display = "none";
    document.getElementById("lista-table").style.display = "none";
    document.getElementById("botones").style.display = "none";
    document.getElementById("botones2").style.display = "none";
    document.getElementById("lista-table_filter").style.display = "none";
    document.getElementById("export-button").style.display = "none";
    $("#input-codigo").removeAttr("disabled").val("").focus();
    $("#input-password").removeAttr("disabled").val("")
    document.getElementById("respuesta").innerHTML = codigo + " no es el código de un coordinador."
  }
}

function inicializarTabla(){
  //Para el combo calificación
  valores = document.getElementsByClassName("valor");
  combo = document.getElementsByClassName("combo_calificacion");
  for (i = 0; i < combo.length; i++) {
  	//alert(valores[i].innerHTML);
    combo[i].value = valores[i].innerHTML;
  }

  //Para el checkbox de asistencia
  horas = document.getElementsByClassName("horas-controlador");
  var radio = document.getElementsByClassName("radio-asistencia");
  for (j = 0; j < radio.length; j++) {
    //alert(valores[i].innerHTML);
    if(horas[j].innerHTML == "None"){
      radio[j].checked = false;
    }else {
      radio[j].checked = true;
    }
    //alert(radio[j].checked);
  }

  //Para el color diferente para Asistentes y Apoyo
  var table, tr, td, i,p1,p2;
  table = document.getElementById("lista-table");
  tr = table.getElementsByTagName("tr");
  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      //alert(td.innerHTML.toUpperCase());
      p1 = td.getElementsByTagName("p")[0].innerHTML;
      p2 = td.getElementsByTagName("p")[1].innerHTML;
      p3 = td.getElementsByTagName("p")[2].innerHTML;
      //alert(p1 + " " + p2)
      if((p2 == 1)||(p1 == 1)||(p3 == 1)){
        tr[i].style.color = "blue";
        tr[i].style.fontWeight = "bold"; 
      }
      codCoord = document.getElementById("input-codigo").value;
      if((p3 == 1)&&(p2 == 0)&&(p1 == 0)){
        td1 = tr[i].getElementsByTagName("td")[1];
        if(td1){
          codigo = td1.innerHTML;
          if(codigo == codCoord){
            td5 = tr[i].getElementsByTagName("td")[5];
            if(td5){
              form = td5.getElementsByTagName("form")[0];
              if(form){
                textarea = form.getElementsByTagName("textarea")[0];
                if(textarea){
                  com = textarea.innerHTML;
                  document.getElementById("comentario-general").innerHTML = com;
                }
              }
            }
          }
        }
      }
    } 
  }
  
}

$(document).ready(function() {
  
  $("#lista-table").DataTable({
    "paging": false,
    "info":false,
        "language":{
          "search": "Buscar: "
        }
  });



  inicializarTabla();

  blockSaveEdit();

  $("#lista-table_filter").addClass("pure-form");

  $("#form-evaluacion").submit(function(){
    // Declare variables 
    var input, filter, table, tr, td, i,fecha;
    var cont = 0;
    input = document.getElementById("input-codigo").value;
    password = document.getElementById("input-password").value;
    filter = input.toUpperCase();
    table = document.getElementById("lista-table");
    tr = table.getElementsByTagName("tr");
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[7];
      //fecha = tr[i].getElementsByTagName("td")[6];
      if (td) {
        //alert(td.innerHTML.toUpperCase());
        if(filter == "01123581"){
        	tr[i].style.display = "";
          cont = cont + 1;
          if(fecha){
            //fecha.style.display = "";
          }
        }else {
        	if (td.innerHTML.toUpperCase() == filter){
          	tr[i].style.display = "";
            cont = cont + 1;
        	} 
        	else {
          	//alert(td.innerHTML.toUpperCase());
          	tr[i].style.display = "none";
        	}
        }
      } 
    }

    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        //alert(td.innerHTML.toUpperCase());
        p1 = td.getElementsByTagName("p")[0].innerHTML;
        p2 = td.getElementsByTagName("p")[1].innerHTML;
        p3 = td.getElementsByTagName("p")[2].innerHTML;
        //alert(p1 + " " + p2)
        if((p2 == 1)||(p1 == 1)||(p3 == 1)){
          tr[i].style.color = "blue";
          tr[i].style.fontWeight = "bold"; 
        }
        codCoord = document.getElementById("input-codigo").value;
        if((p3 == 1)&&(p2 == 0)&&(p1 == 0)){
          td1 = tr[i].getElementsByTagName("td")[1];
          if(td1){
            codigo = td1.innerHTML;
            if(codigo == codCoord){
              td5 = tr[i].getElementsByTagName("td")[5];
              if(td5){
                form = td5.getElementsByTagName("form")[0];
                if(form){
                  textarea = form.getElementsByTagName("textarea")[0];
                  if(textarea){
                    com = textarea.innerHTML;
                    document.getElementById("comentario-general").innerHTML = com;
                  }
                }
              }
            }
          }
        }
      } 
    }

    numero = document.getElementById("numero");
    numero.innerHTML = "Se han encontrado " + cont + " personas";
    numero.style.display = "";

    //Show only the assistants and helpers of the coordinator
    var div, asistentes, apoyos,nombre,cod,as,ap,boton;
    div = document.getElementById("asistentes");
    asistentes = div.getElementsByClassName("asistente");
    if(asistentes){
      for (i=0;i<asistentes.length;i++){
        cod = asistentes[i].getElementsByTagName("h3")[2].innerHTML;
        if(cod == input){
          asistentes[i].getElementsByTagName("h3")[0].style.display = "";
        }else{
          asistentes[i].getElementsByTagName("h3")[0].style.display = "none";
        }
      }
    }

    div = document.getElementById("apoyos");
    apoyos = div.getElementsByClassName("apoyo");
    if(apoyos){
      for (i=0;i<apoyos.length;i++){
        cod = apoyos[i].getElementsByTagName("h3")[2].innerHTML;
        if(cod == input){
          apoyos[i].getElementsByTagName("h3")[0].style.display = "";
        }else{
          apoyos[i].getElementsByTagName("h3")[0].style.display = "none";
        }
      }
    }

    //Delete input and give respons
    giveResponse(input,password);
    $.post(
      "{{ url_for(request.script_root+'.procesarJSONAsist') }}",
      {"codigo":input,"asistencia":"true"},
       function(data){
          
      }
    ).fail()  
    return false;
  });
});
</script>
{% endblock %}
