{% extends "base.tpl.html" %}

{% block title %} Importar Controladores {% endblock %}

{% block styles %}
{% endblock %}

{% block overlay%}
<div class="processing-files">
  <div class="container">
    <p><i class="material-icons">sync</i></p>
    <p>Se están procesando los archivos. Por favor espere, esta operación puede durar varios minutos...</p>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="botones-cabecera" style="display: flex;">
  <div class="pure-u-1">
    <a class="pure-button" style="margin-top:5px;" id="reporte" href="/reporte/">Regresar a Reporte</a>
  </div>
</div>

<h2>Subir Archivo</h2>
<form id="file-form" method="post" enctype="multipart/form-data">
  <input type="file" name="archivos" multiple="multiple" accept=".xls,.xlsx">
  <button type="submit"><span> ENVIAR</span></button>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

document.querySelector('#file-form input[type="file"]').addEventListener('change',e =>{
  e.preventDefault();
  e.stopPropagation();
  const files = e.target.files;
  if(files.length == 0){
    dragIdle.classList.remove('invisible');
  }
  dragOver.classList.add('invisible');
  dragIdle.classList.add('invisible');
  drop.classList.remove('invisible');
  let table = document.querySelector('#filedrag .drop tbody');
  if(files.length != 0){
    table.innerHTML = "";
  }
  Array.from(files).forEach(f => {
    table.innerHTML += `<tr><td>${f.name}</td><td>${f.size}</td></tr>`;
  });
});

document.querySelector('#file-form').addEventListener('submit',e=>{
  document.querySelector('.processing-files').classList.add('active');
});

</script> 
{% endblock %}