{% extends "base.tpl.html" %}

{% block title %} Importar Controladores {% endblock %}

{% block styles %}
{% endblock %}

{% block overlay%}
<div class="processing-files">
  <div class="container">
    <p><i class="material-icons">sync</i></p>
    <p>Se están procesando los archivos. Por favor espere, esta operación puede durar varios minutos...</p>
  </div>
</div>
{% endblock %}

{% block user %}
<h2> Administrador </h2>
{% endblock %}


{% block content %}
<!--div class="botones-cabecera" style="display: flex;">
  <div class="pure-u-1">
    <a class="pure-button" style="margin-top:5px;" id="reporte" href="/administrador/">Regresar</a>
  </div>
</div-->

<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Importar</h3>
    </div>
    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2> Controladores y Coordinadores <small>Subir</small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <form id="file-form" method="post" enctype="multipart/form-data" class="form-horizontal form-label-left"-->
            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="labor">Elige el Proceso <span class="required">*</span></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="form-control" name="proceso-select">
                  {% for proceso in procesos %}
                    {% if proceso %}
                      <option value="{{ proceso.idproceso }}" {% if proceso.es_ultimo %} selected="selected"{% endif %}>{{ proceso.nombre }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="item form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="labor">Selecciona el archivo <span class="required">*</span></label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input class="col-md-7 col-xs-12" type="file" name="archivos" accept=".xls,.xlsx">
              </div>
            </div>

            <div class="ln_solid"></div>

            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
                <button id="send" type="submit" class="btn btn-success">Subir Excel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
/*
document.querySelector('#file-form input[type="file"]').addEventListener('change',e =>{
  e.preventDefault();
  e.stopPropagation();
  const files = e.target.files;
  if(files.length == 0){
    dragIdle.classList.remove('invisible');
  }
  dragOver.classList.add('invisible');
  dragIdle.classList.add('invisible');
  drop.classList.remove('invisible');
  let table = document.querySelector('#filedrag .drop tbody');
  if(files.length != 0){
    table.innerHTML = "";
  }
  Array.from(files).forEach(f => {
    table.innerHTML += `<tr><td>${f.name}</td><td>${f.size}</td></tr>`;
  });
});

document.querySelector('#file-form').addEventListener('submit',e=>{
  document.querySelector('.processing-files').classList.add('active');
});
*/
</script> 
{% endblock %}