{% extends "base.tpl.html" %}

{% block title %} Asistencia {% endblock %}

{% block styles %}
{% endblock %}

{% block content%}

<!doctype html>
<title>Subir un archivo Excel</title>
<h1>Subir un archivo Excel (En formato xls)</h1>
<div class="loader" id="loading2" style="display: none; position: center;"></div>
<form class="pure-form" action="" method=post enctype=multipart/form-data id="form-import"><p>
<input class="" type=file name=file id="file">
<br>
<br>
<button class="pure-button pure-button-primary" type=submit>Cargar</button>
</form>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/xlsx.full.min.js') }}" type="text/javascript"></script>

<script>



function myFunction(){
  $('#loading2').hide();
}



$(document).ready(function() {
var url = "prueba2.xls";
var oReq = new XMLHttpRequest();
oReq.open("GET",url,true);
oReq.responseType = "arraybuffer";

oReq.onload = function(e){
  var arraybuffer = oReq.response;

  var data = new Uint8Array(arraybuffer);
  var arr = new Array();
  for(var i=0;i!=data.length;++i) arr[i] = String.fromCharCode(data[i]);
  var bstr = arr.join("");

  var workbook = XLSX.read(bstr,(type:"binary"));

  var first_sheet_name = workbook.SheetNames[0];

  var worksheet = workbook.Sheets[first_sheet_name];

  console.log(XLS.utils.sheet_to_json(worksheet));
}


})
</script>
{% endblock %}