{% extends "base.tpl.html" %}

{% block title %} Evaluación Controladores {% endblock %}

{% block styles %}
<style>
#lista-table_filter{
  margin-top:1em;
  margin-bottom:1em;
}
#lista-table_paging{
  color:red;
}
</style>
{% endblock %}

{% block content%}
<!--agregar aqui el html -->
<div class="botones-cabecera" style="display: flex;">
  <div class="pure-u-1">
    <a class="pure-button" style="margin-top:5px;" id="reporte" href="/administrador/">Regresar</a>
  </div>
  <div class="pure-u-1 right">
    <a class="button-success pure-button" href="/nuevoControlador/">Nuevo Controlador <i class="fa fa-plus-square" style="color: green;"></i></a>
  </div>
</div>
<h2>Reporte de Controladores</h2>
<table id="lista-table" class="pure-table pure-table-bordered" style="width:100%">
  <thead>
    <tr><th id="table-arrow">Nombres</th><th id="table-arrow">Código</th><th id="table-arrow">Calificación</th><th id="table-arrow">Proceso</th><th id="table-arrow"># Veces que fue Convocado</th><th id="table-arrow"># Veces que Asistió</th><th id="table-arrow">Correo PUCP</th><th id="table-arrow">Acciones</th></tr>
  <thead>
  <tbody>
    {% for reg in registros %}
	    <tr class="registro">
	    	<td>{{ reg.nombres }}</td>
	    	<td>{{ reg.codigo }}</td>
        <td>{{ reg.calificacion }}</td>
        <td>{{ reg.nombre }}</td>
        <td>{{ reg.nro_convocatorias }}</td>
        <td>{{ reg.nro_asistencias }}</td>
        <td>{{ reg.correo }}</td>
        <td>
          <div style="display: flex;">
            <a class="pure-button" href="/verControlador/{{ reg.codigo }}">
              <i class="fa fa-eye" style="color: green;"></i>
            </a> 
            <a class="pure-button" href="/editarControlador/{{ reg.codigo }}/{{ reg.idproceso }}">
              <i class="fa fa-pencil" style="color:blue;"></i>
            </a> 
          </div>
        </td>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
<script>
//es recomendable usar un script externo
//jQuery esta incluido en base.tpl.html
$(document).ready(function() {
  $("#lista-table").DataTable({
    "paging": true,
    "info":false,
        "language":{
          "search": "Buscar: ",
          "Show ": "Mostrar ",
          "entries": "registros",
          "Previous": "Anterior",
          "Next": "Siguiente"
        }
  });

  $("#lista-table_filter").addClass("pure-form");
});

</script>
{% endblock %}
